<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎界面</title>
</head>
<body style="background-image:url('/static/img/90354291_p0.png');background-size:cover;">
<div style="text-align: center">
    <h1>欢迎来到我的测试平台！!</h1>
    <h3>welcome to my Apitest</h3>
</div>
<div style="border: 1px solid black;width: 200px;text-align: left;margin-left: -webkit-calc(50% - 100px);padding-left: 10px">
    <h2>如何使用</h2>
    1、打开左侧菜单<br>
    2、找到要用的功能<br>
    3、点击进入<br>
</div>
<div style="text-align: center;height: 100px;width: 100%;position: fixed;bottom: 10%;">
    <h2>更新信息：</h2>
    <span>项目管理模块上线，并修复已知bug</span>

    <h2>反馈：</h2>
    <span>如有问题，请发邮件至：herlioner@gmail.com</span>
    <span>或进入：<a href="">本平台的优化建议</a>中进行反馈</span>
</div>
</body>
</html>